.mainLogo {
    background-color: #DB4BA4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    display: none;
}
.mainLogo .semicircle {
    height: 50vh;
    background-color: white;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom: 0;
}

.mainLogo img {
    max-height: 50vh;
    border-radius: 50%;
    transform: translate(0, 25vh);
}

.main {
    padding: 20px;
}